<h1>Welcome to Jobs</h1>

<% if @current_user.role == 'admin' || @current_user.role == 'manager' %>

	<%= link_to "New Job", new_job_path %>

<% else %>

	<p>Apply for a job!</p>

<% end %>


<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Job</th>
			<th>Qualifications</th>
			<th>Posted By</th>
			<th>Posted At</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @jobs.each do |j| %>
			<tr>
				<td><%= j.job_title %></td>
				<td><%= j.qualified == 1 ? "Required" : "Not Required" %></td>
				<td><%= j.user.email %></td>
				<td><%= j.created_at %></td>
				<td>

					<% if @current_user.role == 'admin' || @current_user.role == 'manager' %> 
						<%= link_to "Edit", edit_job_path(j) %>
					<% else %>
						<%= link_to "Apply", "/job_applications/#{j.id}" %>
					<% end %>

				</td>
			</tr>
		<% end %>
	</tbody>
</table>