<h1>Go on, Apply!</h1>

<p><%= @job.job_title %></p>

<%= form_for(@job_application) do |f| %>
	<%= f.label :are_you_qualified? %>
	<div class="form-group">		
		<%= f.radio_button :qualified, 1 %>
		<%= f.label :yes %><br/>
		
		<%= f.radio_button :qualified, 0 %>
		<%= f.label :no %><br/>
		<%= f.hidden_field :job_id, :value => @job_application.job_id %>
	</div>
	<%= f.submit "Apply" %>
<% end %>